        h1{
        font-size: 30px;
        text-align: center;
        }
        button{
        background-color: rgb(50, 6, 67);
        font-size: 20px;
        width: 450px;
        border-radius: 30px;
        border-color: rgb(179, 112, 190);
        color: white;
        }
        body{
        background-color: rgb(47, 2, 51);
        align-items: center;
        margin-top: 80px;
        font-family: Geneva;
        margin: 0px;
        text-align: center; 
        }
        .container {
        width: 100vw;
        height: 100vh;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        }   
        .box{
        width: 800px;
        height: 500px;
        background: #9a6e9ea0;
        border-radius: 30px;
        }